html {
    --color: aqua;
}

body {
    padding: 20px;
}

.chart {
    position: relative;

    margin: 2rem;
    height: 25rem;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.title {

}